<section id="about">
		<div class="guitar2">				
			<img class="img-responsive" src="images/guitar2.jpg" alt="guitar">
		</div>
		<div class="about-content">					
					<h2>About Startup Garage</h2>
					<p>Full day event including breakfast and lunch, inspiring speakers and disruptive startups and thinkers.
					Start-up Pitches: Startup Garage culminates with Jumpstart event which allows exciting new startups to pitch to an elite panel of Venture Capitalists, CEO’s and experts with guaranteed incubation for the top startup. Apply now to avail of this once in a lifetime opportunity.
					</p>
					<a href="#" class="btn btn-primary">View Date & Place <i class="fa fa-angle-right"></i></a>
				
		</div>
	</section><!--/#about-->