<section id="about">
		<div class="about-content">					
					<h2>About Startup Garage</h2>
					<p>Want to mingle with an elite entrepreneurial community? Engage in dynamic real-time collaboration? Bring yourself up to speed on the latest developments in technology? Enter Startup Garage, a flagship one-day event hosted by Of10 and powered by Arghya Ventures. The event features talks by the pioneers of India’s start up story, a “start up mela” for participating start ups to showcase their innovation and talent, and the chance for individuals to obtain the practical know how they need to help validate and build their businesses. Want to make a dent in the universe? Let’s get you started.
					</p>
					<a href="#" class="btn btn-primary">View Date & Place <i class="fa fa-angle-right"></i></a>
				
		</div>
	</section><!--/#about-->