<section id="schedule">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-md-9">
				<h2 class="heading">Schedule</h2>
				<ul class="schedule-list">
					<li>
						<b>10:00 AM</b>
						<span> Opening Statement by Arghya Ventures</span>
					</li>
					<li>
						<b>10:15 AM</b>
						<span> Opening Statement by OF10</span>
					</li>
					<li>
						<b>10:30 AM</b>
						<span>Saurabh Saxena - HolaChef</span>
					</li>
					<li>
						<b>11:00 AM</b>
						<span>Rajat Dutta - Motilal Oswal</span>
					</li>
					<li>
						<b>11:30 AM</b>
						<span>AC Neilsen</span>
					</li>
					<li>
						<b>12:15 PM</b>
						<span>Interlude - Stand Up Comedian</span>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>