<section id="schedule">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2 class="heading">Schedule</h2>
					<ul class="list-group row">
						<li class="list-group-item col-xs-6">
							<b>9:30 AM</b>
							<span>Opening and Breakfast</span>
						</li>
						<li class="list-group-item col-xs-6">
							<b>12:15 PM</b>
							<span>Interlude and Entertainment</span>
						</li>
						<li class="list-group-item col-xs-6">
							<b>10:00 AM</b>
							<span>Opening Statement by Arghya Ventures</span>
						</li>
						<li class="list-group-item col-xs-6">
							<b>12:30 PM</b>
							<span>Panel Discussion</span>
						</li>
						<li class="list-group-item col-xs-6">
							<b>10:15 AM</b>
							<span> Opening Statement by OF10</span>
						</li>
						<li class="list-group-item col-xs-6">
							<b>01:15 PM</b>
							<span>Lunch Break</span>
						</li>
						<li class="list-group-item col-xs-6">
							<b>10:30 AM</b>
							<span>Saurabh Saxena - HolaChef</span>
						</li>
						<li class="list-group-item col-xs-6">
							<b>02:00 PM</b>
							<span>Startup Mela</span>
						</li>
						<li class="list-group-item col-xs-6">
							<b>11:00 AM</b>
							<span>Rajat Dutta - Motilal Oswal</span>
						</li>
						<li class="list-group-item col-xs-6">
							<b>02:00 PM</b>
							<span>Investor Pitches</span>
						</li>
						<li class="list-group-item col-xs-6">
							<b>11:30 AM</b>
							<span>AC Neilsen</span>
						</li>
						<li class="list-group-item col-xs-6">
							<b>04:30 PM</b>
							<span>Announcement of Winners and Close</span>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>