<section id="panelists">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-md-9">
				<div id="event-carousel" class="carousel slide" data-interval="false">
					<h2 class="heading">Panelists</h2>
					<ul class="list-group row">
						<li class="list-group-item list-group-item-success col-xs-6">Neilsen</li>
						<li class="list-group-item list-group-item-info col-xs-6">Motilal Oswal</li>
						<li class="list-group-item list-group-item-success col-xs-6">Gloob Decor</li>
						<li class="list-group-item list-group-item-info col-xs-6">Tiny Owl</li>
						<li class="list-group-item list-group-item-success col-xs-6">Quik Wallet</li>
						<li class="list-group-item list-group-item-info col-xs-6">Amber</li>
						<li class="list-group-item list-group-item-success col-xs-6">Zimmber</li>
						<li class="list-group-item list-group-item-info col-xs-6">Ufaber</li>
						<li class="list-group-item list-group-item-success col-xs-6">Machadalo</li>
						<li class="list-group-item list-group-item-info col-xs-6">Hola Chef</li>
						<li class="list-group-item list-group-item-success col-xs-6">Ziffi</li>
						<li class="list-group-item list-group-item-info col-xs-6">Credr</li>
						<li class="list-group-item list-group-item-success col-xs-6">The Viral Fever</li>
						<li class="list-group-item list-group-item-info col-xs-6">Ivy Cap ventures</li>
						<li class="list-group-item list-group-item-success col-xs-6">Silverleaf</li>
						<li class="list-group-item list-group-item-info col-xs-6">Mink</li>
					</ul>
				</div>
			</div>
		</div>			
	</div>
</section><!--/#event-->