<section id="panelists">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-md-9">
				<div id="event-carousel" class="carousel slide" data-interval="false">
					<h2 class="heading">The Panels</h2>
					<a class="even-control-left" href="#event-carousel" data-slide="prev"><i class="fa fa-angle-left"></i></a>
					<a class="even-control-right" href="#event-carousel" data-slide="next"><i class="fa fa-angle-right"></i></a>
					<div class="carousel-inner">
						<div class="item active">
							<div class="row">
								<div class="col-sm-4">
									<div class="single-event">
										<img class="img-responsive" src="images/panels/panel1.jpg" alt="event-image">
										<h4>QuikWallet</h4>
									</div>
								</div>
								<div class="col-sm-4">
									<div class="single-event">
										<img class="img-responsive" src="images/panels/panel2.jpg" alt="event-image">
										<h4>Zimber</h4>
									</div>
								</div>
								<div class="col-sm-4">
									<div class="single-event">
										<img class="img-responsive" src="images/panels/panel3.jpg" alt="event-image">
										<h4>Neilsen</h4>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>			
	</div>
</section><!--/#event-->