<section id="speakers">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-md-9">
				<h2 class="heading">The Speakers</h2>
				<div class="item active">
					<div class="row">
						<div class="col-sm-4">
							<div class="single-event">
								<img class="img-responsive" src="images/speakers/speaker1.jpg" alt="event-image">
								<h4>Rajat Dutta - Motilal Oswal</h4>
								<h5>Valuation and Funding</h5>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="single-event">
								<img class="img-responsive" src="images/speakers/speaker2.jpg" alt="event-image">
								<h4>Saurabh Saxena - Hola Chef</h4>
								<h5>Growth and Marketing</h5>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="single-event">
								<img class="img-responsive" src="images/speakers/speaker3.jpg" alt="event-image">
								<h4>Vikram Gupta - Ivy Cap Ventures</h4>
								<h5>How to find investments</h5>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>			
	</div>
</section><!--/#event-->