<section id="sponsor">
		<div id="sponsor-carousel" class="carousel slide" data-interval="false">
			<div class="container">
				<div class="row">
					<div class="col-sm-10">
						<h2>Sponsors</h2>			
						<ul class="row">
							<li>Food And Beverage: Hola Chef and Bread and Pulp</li>
							<li>Marketing: Machadalo</li> 
							<li>Venture Capital: Ivy Cap Ventures & Arghya Ventures </li>
							<li>Space: OF10</li>
						</ul>
						<br/>
						<h5>Partners:</h5>
						<div class="list-group row">
							<a href="http://www.nielsen.com/in/en.html" target="_blank" class="list-group-item list-group-item-warning col-xs-6">Neilsen</a>
							<a href="http://www.motilaloswalgroup.com/" target="_blank" class="list-group-item list-group-item-warning col-xs-6">Motilal Oswal</a>
							<a href="http://gloobdecor.com/" target="_blank" class="list-group-item list-group-item-warning col-xs-6">Gloob Decor</a>
							<a href="https://tinyowl.com/" target="_blank" class="list-group-item list-group-item-warning col-xs-6">Tiny Owl</a>
							<a href="http://quikwallet.com/" target="_blank" class="list-group-item list-group-item-warning col-xs-6">Quik Wallet</a>
							<a href="https://getamber.com/" target="_blank" class="list-group-item list-group-item-warning col-xs-6">Amber</a>
							<a href="http://zimmber.com/" target="_blank" class="list-group-item list-group-item-warning col-xs-6">Zimmber</a>
							<a href="https://ufaber.com/" target="_blank" class="list-group-item list-group-item-warning col-xs-6">Ufaber</a>
							<a href="http://www.machadalo.com/" target="_blank" class="list-group-item list-group-item-warning col-xs-6">Machadalo</a>
							<a href="http://www.holachef.com/" target="_blank" class="list-group-item list-group-item-warning col-xs-6">Hola Chef</a>
							<a href="https://www.ziffi.com/" target="_blank" class="list-group-item list-group-item-warning col-xs-6">Ziffi</a>
							<a href="http://www.credr.com/mumbai/" target="_blank" class="list-group-item list-group-item-warning col-xs-6">Credr</a>
							<a href="http://tvfplay.com/" target="_blank" class="list-group-item list-group-item-warning col-xs-6">The Viral Fever</a>
							<a href="http://www.ivycapventures.com/" target="_blank" class="list-group-item list-group-item-warning col-xs-6">Ivy Cap ventures</a>
							<a href="http://www.silverleafcaps.com/" target="_blank" class="list-group-item list-group-item-warning col-xs-6">Silverleaf</a>
							<a href="http://www.mink.co.in/" target="_blank" class="list-group-item list-group-item-warning col-xs-6">Mink</a>
						</ul>
					</div>
				</div>				
			</div>
		</div>
	</section><!--/#sponsor-->