<section id="workshops">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-md-9">
				<div id="event-carousel" class="carousel slide" data-interval="false">
					<h2 class="heading">Workshops</h2>
					<a class="even-control-left" href="#event-carousel" data-slide="prev"><i class="fa fa-angle-left"></i></a>
					<a class="even-control-right" href="#event-carousel" data-slide="next"><i class="fa fa-angle-right"></i></a>
					<div class="carousel-inner">
						<div class="item active">
							<div class="row">
								<div class="col-sm-4">
									<div class="single-event">
										<img class="img-responsive" src="images/workshops/workshop1.jpg" alt="event-image">
										<h4>Headrush</h4>
										<h5>Drum Circle</h5>
									</div>
								</div>
								<div class="col-sm-4">
									<div class="single-event">
										<img class="img-responsive" src="images/workshops/workshop2.jpg" alt="event-image">
										<h4>Makers Asylum</h4>
										<h5>3D Printing</h5>
									</div>
								</div>
								<div class="col-sm-4">
									<div class="single-event">
										<img class="img-responsive" src="images/workshops/workshop3.jpg" alt="event-image">
										<h4>Art Bazaar</h4>
										<h5>Pottery</h5>
									</div>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="row">
								<div class="col-sm-4">
									<div class="single-event">
										<img class="img-responsive" src="images/workshops/workshop4.jpg" alt="event-image">
										<h4>Apoorva</h4>
										<h5>Start up Stand up</h5>
									</div>
								</div>
								<div class="col-sm-4">
									<div class="single-event">
										<img class="img-responsive" src="images/workshops/workshop5.jpg" alt="event-image">
										<h4>Amber</h4>
										<h5>Beauty Consultation</h5>
									</div>
								</div>
								<div class="col-sm-4">
									<div class="single-event">
										<img class="img-responsive" src="images/workshop/workshop6.jpg" alt="event-image">
										<h4>Silver Leaf</h4>
										<h5>Machine Learning and AI</h5>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

